@model CarDetailViewModel
<!-- Single Car Header-->
<div class="rn-single-car-header">
    <div class="rn-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-car-single-info">
                    <h1>@Model.Car.Model.CarBrand.Name @Model.Car.Model.Name</h1>

                    <p>@Model.Car.Title</p>
                </div>
                <div class="rn-car-single-meta">
                    <span>
                        <i class="rni-car-seat"></i> @Model.Car.Passsenger Passengers
                    </span>
                    <span>
                        <i class="rni-suitcase"></i> @Model.Car.Luggage Luggages
                    </span>
                    <span>
                        <i class="rni-petrol-station"></i> @Model.Car.Fuel
                    </span>
                    <span>
                        <i class="rni-car-gear"></i> @Model.Car.Transmission
                    </span>
                    <span>
                        <i class="rni-car-door"></i> @Model.Car.Door Doors
                    </span>
                </div>
                <div class="rn-car-single-price">
                    <span class="rn-car-price-from">From</span>
                    <span class="rn-car-price-format">
                        <span class="rn-car-price-amount">$@Model.Car.DailyPrice.ToString("#.")</span>
                        <span class="rn-car-price-per">/day</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Car Header-->
<!-- Single Car Content-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>@Model.Car.Description</p>

            </div>
            <div class="col-lg-4">

                <!-- Check Availability-->
                <div class="rn-small-search-form">
                    <div class="rn-small-search-form-title">
                        <h2>Check Availability</h2>
                    </div>
                    <form asp-action="Create" asp-controller="Orders" method="post" asp-route-carid ="@Model.Car.Id">
                        <div class="rn-icon-input">
                            <i class="fas fa-map-marker-alt"></i>
                            <input type="text" placeholder="Pickup Location" asp-for="Order.PickupLocation">
                        </div>
                        <div class="rn-icon-input">
                            <i class="fas fa-map-marker-alt"></i>
                            <input type="text" placeholder="Drop Location" asp-for="Order.DropLocation">
                        </div>
                        <div class="rn-date-time-input">
                            <div class="row">
                                <div class="rn-icon-input">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" placeholder="Pickup Date" id="pickup-date" asp-for="Order.PickupDate">
                                </div>
                            </div>
                        </div>
                        <div class="rn-date-time-input">
                            <div class="row">
                                <div class="rn-icon-input">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" placeholder="Drop Date" id="drop-date" asp-for="Order.DropDate">
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-main btn-lg btn-shadow btn-block" type="submit">
                            <i class="fas fa-search"></i> Check Now
                        </button>
                    </form>
                </div>
                <!-- End Check Availability-->
                <!-- Car Sharing Buttons-->
                <div class="rn-car-share">
                    <span>Share this car:</span>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Car Sharing Buttons-->

            </div>
        </div>



    </div>
</section>
<!-- End Single Car Content-->
<!-- Car Reviews-->
<div class="rn-section rn-section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Car Reviews-->
                <div class="rn-reviews mb-50">
                    <h2 class="rn-simple-title">Customer Reviews</h2>
                    @foreach (var item in Model.Car.CustomerReviews)
                    {
                        <!-- Review Item-->
                        <div class="rn-review-item">
                            <div class="rn-review-meta">
                                <div class="rn-reviewer-info">
                                    <div class="rn-reviewer-name">@item.Customer.Name</div>
                                    <div class="rn-review-time">@item.CreatedAt.ToString("MMMM dd yyyy 'at' hh:mm")</div>
                                </div>
                            </div>
                            <div class="rn-review-content">
                                <div class="rn-review-ratings">
                                    <div class="rn-review-rating">
                                        <div class="rn-review-rating-title">Quality:</div>
                                        <div class="rn-review-rating-stars">
                                            @for (int i = 0; i < @item.QualityStars; i++)
                                            {
                                                <i class="fas fa-star"></i>

                                            }


                                        </div>
                                    </div>
                                    <div class="rn-review-rating">
                                        <div class="rn-review-rating-title">Price:</div>
                                        <div class="rn-review-rating-stars">
                                            @for (int i = 0; i < @item.PriceStars; i++)
                                            {
                                                <i class="fas fa-star"></i>

                                            }

                                        </div>
                                    </div>
                                    <div class="rn-review-rating">
                                        <div class="rn-review-rating-title">Comfort:</div>
                                        <div class="rn-review-rating-stars">
                                            @for (int i = 0; i < @item.ComfortStars; i++)
                                            {
                                                <i class="fas fa-star"></i>

                                            }

                                        </div>
                                    </div>
                                    <div class="rn-review-rating">
                                        <div class="rn-review-rating-title">Driving:</div>
                                        <div class="rn-review-rating-stars">
                                            @for (int i = 0; i < @item.DrivingStars; i++)
                                            {
                                                <i class="fas fa-star"></i>

                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="rn-review-body">
                                    <p>@item.Text</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Review Item-->
                    }



                    <div class="text-center">
                        <a class="btn btn-lg btn-outline-light" href="#">Load More</a>
                    </div>
                </div>
                <!-- End Car Reviews-->
                <!-- Car Review Form-->
                <div class="rn-review-form">
                    <h2 class="rn-simple-title">Write A Review</h2>
                    <form action="https://demo.kitthemes.com/html/rentnow/post">
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <div class="rn-rating-input rn-rating-input-quality">
                                    <label>Quality:</label>
                                    <div class="rn-rating-input-inner">
                                        <input class="rn-rating-value-input" type="hidden" />
                                        <div class="rn-rating-main-input"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="rn-rating-input rn-rating-input-price">
                                    <label>Price:</label>
                                    <div class="rn-rating-input-inner">
                                        <input class="rn-rating-value-input" type="hidden" />
                                        <div class="rn-rating-main-input"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="rn-rating-input rn-rating-input-comfort">
                                    <label>Comfort:</label>
                                    <div class="rn-rating-input-inner">
                                        <input class="rn-rating-value-input" type="hidden" />
                                        <div class="rn-rating-main-input"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="rn-rating-input rn-rating-input-driving">
                                    <label>Driving:</label>
                                    <div class="rn-rating-input-inner">
                                        <input class="rn-rating-value-input" type="hidden" />
                                        <div class="rn-rating-main-input"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-lg-4">
                                <input type="url" placeholder="Website">
                            </div>
                        </div>
                        <textarea cols="30" rows="10" placeholder="Write your review"></textarea>
                        <div class="text-right">
                            <input class="btn btn-main btn-lg btn-shadow" type="submit" value="Submit Review">
                        </div>
                    </form>
                </div>
                <!-- End Car Review Form-->

            </div>
        </div>
    </div>
</div>
<!-- End Car Reviews-->
