@model Setting
<!-- Site Footer-->
<footer class="rn-footer">

    <!-- Footer Widgets-->
    <div class="rn-footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">About Us</h2>
                        <div class="rn-widget-content">
                            <a class="brand-name" href="index-2.html">
                                <img src="~/images/@Model.FooterLogo" alt="Logo">
                            </a>
                            <p>@Model.FooterText</p>
                            <ul class="rn-widget-social">
                                <li>
                                    <a href="@Model.FacebookLink">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.TwitterLink">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.InstagramLink">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Model.LinkedInLink">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->

                </div>
                <div class="col-md-5">

                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Quick Links</h2>
                        <div class="rn-widget-content">
                            <div class="row rn-quick-links">
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <a asp-action="AboutUs" asp-controller="Pages">About Us</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Contact">Contact Us</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Contact">Support</a>
                                        </li>
                                        <li>
                                            <a href="#">View Booking</a>
                                        </li>
                                        
                                        <li>
                                            <a asp-action="List" asp-controller="Cars">Marketplace</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>
                                            <a asp-action="Index" asp-controller="Home">Site Map</a>
                                        </li>
                                        
                                        <li>
                                            <a asp-action="Blog" asp-controller="Blogs">Blogs</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Widget Item-->

                </div>
                <div class="col-md-3">

                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Contact Us</h2>
                        <div class="rn-widget-content">
                            <div class="rn-icon-contents">
                                <div class="rn-phone rn-icon-content">
                                    <div class="rn-icon">
                                        <i class="lnr lnr-phone"></i>
                                    </div>
                                    <div class="rn-info">
                                        <ul>
                                            <li>@Model.Phone</li>
                                            <li>@Model.SupPhone</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rn-email rn-icon-content">
                                    <div class="rn-icon">
                                        <i class="lnr lnr-envelope"></i>
                                    </div>
                                    <div class="rn-info">
                                        <ul>
                                            <li>@Model.Email</li>
                                            <li>@Model.SaleEmail</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rn-address rn-icon-content">
                                    <div class="rn-icon">
                                        <i class="lnr lnr-map-marker"></i>
                                    </div>
                                    <div class="rn-info">
                                        <ul>
                                            <li>@Model.MainAdress</li>
                                            <li>@Model.Adress</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Widget Item-->

                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Widgets-->
    <!-- Footer Copyright-->
    <div class="rn-footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p>Copyright &copy; RentNow 2018. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <span class="rn-pyament-methods">
                        <span>We Accept</span>
                        <img src="~/images/@Model.Payment" alt="payments" srcset="~/images/payments.png 1x, ~/images/payments@2x.png 2x">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Copyright-->

</footer>
<!-- End Site Footer-->

