@model BlogViewModel


<!-- Page Title-->
<div class="rn-page-title">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>News &amp; Updates</h1>
                    <p>Cras eros lorem, rhoncus ac risus sit amet, fringilla ultrices purus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Page Content-->
<div class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 rn-post-list">
                @foreach (var item in Model.Blogs)
                {
                    <!-- Blog Post Item -->
                    <article class="rn-post-item rn-post-size-lg">
                        <div class="rn-post-item-thumb">
                            <a href="#">
                                <img class="img-fluid" src="~/images/@item.Photo" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="rn-post-item-header">
                            <div class="rn-post-date">
                                <div class="rn-post-date-inner">
                                    <div class="rn-post-date-d">@item.CreatedAt.Day</div>
                                    <div class="rn-post-date-m-y">@item.CreatedAt.ToString("MMMM"), @item.CreatedAt.Year</div>
                                </div>
                            </div>
                            <div class="rn-post-item-title-meta">
                                <div class="rn-post-item-title-meta-inner">
                                    <div class="rn-post-item-meta">
                                        <span class="rn-post-item-categories">
                                            In
                                            <a href="#">@item.Category.Name</a>
                                        </span>
                                        <span class="rn-post-item-author">
                                            By
                                            <a href="#">@item.Author.Name</a>
                                        </span>
                                    </div>
                                    <h3 class="rn-post-item-title">
                                        <a href="#">@item.Title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="rn-post-item-body">
                            <p>@item.InfoText</p>
                        </div>
                        <div class="rn-post-item-footer">
                            <div class="rn-post-read-more">
                                <a class="btn btn-dark" asp-action="Detail" asp-controller="Blogs" asp-route-id="@item.Id">Read more</a>
                            </div>
                            <ul class="rn-post-love-n-view">
                                <li>
                                    <button>
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <span>@item.Likes</span>
                                </li>
                                <li>
                                    <span class="rn-post-view-icon">
                                        <i class="far fa-eye"></i>
                                    </span>
                                    <span>@item.Visited</span>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <!-- End Blog Post Item -->
                }

                
                <!-- Post Pagination-->
                <nav class="rn-pagination">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a class="rn-active" href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-lg-4">

                <!-- Sidebar-->
                <aside class="rn-widget-area" id="secondary">

                    <!-- Widget Item-->
                    <div class="rn-widget">
                        <div class="rn-widget-content">
                            <a href="#">
                                <img class="img-fluid" src="~/images/banner.png" alt="banner" srcset="~/images/banner.png 1x, ~/images/banner@2x.png 2x">
                            </a>
                        </div>
                    </div>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Categories</h2>
                        <div class="rn-widget-content">
                            <ul>
                                @foreach (var item in Model.Categories)
                                {
                                    <li>
                                        <a asp-action="blog" asp-controller="Blogs" asp-route-categoryId ="@item.Id">@item.Name</a>
                                    </li>
                                }

                                
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Recent Posts</h2>
                        <div class="rn-widget-content">
                            <ul class="rn-recent-posts">
                                @foreach (var item in Model.Blogs.OrderByDescending(b => b.CreatedAt).ToList())
                                {
                                    <li>

                                        <!-- Extra Small Post-->
                                        <div class="rn-recent-post-item">
                                            <div class="rn-recent-post-item-thumb">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/images/@item.PhotoSm" alt="@item.Title" srcset="~/images/blog-item-xs-1.jpg 1x, ~/images/blog-item-xs-1@2x.jpg 2x" />
                                                </a>
                                            </div>
                                            <div class="rn-recent-post-item-info">
                                                <div class="rn-recent-post-item-meta">
                                                    <span class="rn-recent-post-item-categories">
                                                        In
                                                        <a href="#">@item.Category.Name</a>
                                                    </span>
                                                    <span class="rn-recent-post-item-author">
                                                        At
                                                        <a href="#">@item.CreatedAt.ToString("dd MMMM, yyyy")</a>
                                                    </span>
                                                </div>
                                                <div class="rn-recent-post-item-title">
                                                    <h3>
                                                        <a href="#">@item.Title</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Extra Small Post-->

                                    </li>
                                }

                                
                            </ul>
                        </div>
                    </section>
                    <!-- End Widget Item-->
                    <!-- Widget Item-->
                    <section class="rn-widget">
                        <h2 class="rn-widget-title">Tags</h2>
                        <div class="rn-widget-content">
                            <div class="tags">
                                @foreach (var item in Model.Tags)
                                {
                                    <a href="#">@item.Name</a>

                                }
                                
                            </div>
                        </div>
                    </section>
                    <!-- End Widget Item-->

                </aside>
                <!-- End Sidebar-->

            </div>
        </div>
    </div>
</div>
<!-- End Page Content-->