@model BlogViewModel
<!-- Blog Single Post-->
<main class="rn-blog-single">
    <article>
        <!-- Single Post Header-->
        <header style="background-image: url(/images/@Model.Blog.Photo);">
            <h1 class="rn-single-post-title">@Model.Blog.Title</h1>
            <div class="rn-single-post-meta">
                <span>
                    In
                    <a href="#">@Model.Blog.Category.Name</a>
                </span>
                <span>
                    By
                    <a href="#">@Model.Blog.Author.Name</a>
                </span>
                <span>
                    At
                    <a href="#">@Model.Blog.CreatedAt.ToString("dd MMMM, yyyy")</a>
                </span>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Single Post Content-->
                    <div class="rn-single-post-content">
                        <p>@Model.Blog.TopText</p>
                        <p>
                            <a href="#">
                                <img class="img-fluid mb-30" src="~/images/big-banner.png" alt="banner" srcset="~/images/big-banner.png 1x, ~/images/big-banner@2x.png 2x">
                            </a>
                        </p>
                        <p>@Model.Blog.Text</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Post Footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="rn-single-post-tags tagcloud">
                            @foreach (var item in Model.Tags)
                            {
                                <a href="#" rel="tag">@item.Name</a>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </article>
</main>
<!-- End Blog Single Post-->
<!-- Single Post Social Share Buttons-->
<div class="rn-single-post-social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-single-post-social-inner">
                    <ul class="rn-post-sharing">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="rn-post-love-n-view">
                        <li>
                            <button>
                                <i class="fas fa-heart"></i>
                            </button>
                            <span>@Model.Blog.Likes</span>
                        </li>
                        <li>
                            <button>
                                <i class="far fa-eye"></i>
                            </button>
                            <span>@Model.Blog.Visited</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Post Social Share Buttons-->
<!-- Single Post Nav-->
<div class="rn-single-post-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-post-navs-wrap">
                    <div class="rn-post-navs">
                        @{Blog previousblog = Model.Blogs.FirstOrDefault(b => b.Id == (Model.Blog.Id - 1)); }

                        <div class="rn-post-prev">
                            @{
                                if (previousblog != null)
                                {
                                    <a asp-action="Detail" asp-controller="Blogs" asp-route-id="@(Model.Blog.Id - 1)">
                                        <div class="rn-nav-post-thumb">
                                            <img width="80" height="80" src="~/images/@previousblog.Photo" alt="Previous Post">
                                        </div>
                                        <div class="rn-nav-post-info">
                                            <span>Previous Post</span>
                                            <span class="rn-nav-post-title">@previousblog.Title</span>
                                        </div>
                                    </a>
                                }
                            }

                        </div>



                        @{Blog blog = Model.Blogs.FirstOrDefault(b => b.Id == (Model.Blog.Id + 1)); }


                        <div class="rn-post-next">
                            @{ if (blog != null)
                                {
                                    <a asp-action="Detail" asp-controller="Blogs" asp-route-id="@(Model.Blog.Id + 1)">

                                        <span class="rn-nav-post-info">
                                            <span>Next Post</span>
                                            <span class="rn-nav-post-title">@blog.Title</span>
                                        </span>
                                        <span class="rn-nav-post-thumb">
                                            <img width="80" height="80" src="~/images/@blog.Photo" alt="Next Post">
                                        </span>
                                    </a>
                                }
                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Post Nav-->
<!-- Related Posts-->
<div class="rn-section">
    <div class="container">
        <div class="row rn-post-list">
            @foreach (var item in Model.Blogs)
            {
                <div class="col-md-4">

                    <!-- Blog Post Item (Small Size)-->
                    <div class="rn-post-item rn-post-size-sm">
                        <div class="rn-post-item-thumb">
                            <a asp-action="Detail" asp-controller="Blogs" asp-route-id="@item.Id">
                                <img class="img-fluid" src="~/images/@item.PhotoSm" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="rn-post-item-header">
                            <div class="rn-post-date">
                                <div class="rn-post-date-inner">
                                    <div class="rn-post-date-d">@item.CreatedAt.Day</div>
                                    <div class="rn-post-date-m-y">@item.CreatedAt.ToString("MMMM , yyyy")</div>
                                </div>
                            </div>
                            <div class="rn-post-item-title-meta">
                                <div class="rn-post-item-title-meta-inner">
                                    <div class="rn-post-item-meta">
                                        <span class="rn-post-item-categories">
                                            In
                                            <a href="#">@item.Category.Name</a>
                                        </span>
                                        <span class="rn-post-item-author">
                                            By
                                            <a href="#">@item.Author.Name</a>
                                        </span>
                                    </div>
                                    <h3 class="rn-post-item-title">
                                        <a asp-action="Detail" asp-controller="Blogs" asp-route-id="@item.Id">@item.Title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Post Item (Small Size)-->

                </div>

            }

            
        </div>
    </div>
</div>
<!-- End Related Posts-->
<!-- Comments & Comment Form-->
<div class="rn-section rn-section-light-gray rn-post-comments">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-post-comments-inner">

                    <!-- Comments-->
                    <div class="rn-comment-list">
                        <h2 class="rn-simple-title">@Model.Blog.BlogComments.Count Comments</h2>
                        <ul>

                            @foreach (var item in Model.Blog.BlogComments)
                            {
                                <li>
                                    <!-- Comment Item-->
                                    <div class="rn-comment-item">
                                        <div class="rn-comment-thumb">
                                            <img class="img-fluid" src="~/images/@item.Author.Photo" alt="@item.Author.Name"  />
                                        </div>
                                        <div class="rn-comment-info">
                                            <a class="rn-comment-reply" href="#">
                                                <i class="fas fa-reply"></i> Replay
                                            </a>
                                            <div class="rn-comment-meta">
                                                <div class="rn-comment-name">@item.Author.Name</div>
                                                <div class="rn-comment-time">@item.CreatedAt.ToString("MMMM dd , yyyy at HH:mm")</div>
                                            </div>
                                            <div class="rn-comment-body">
                                                <p>@item.Text</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Comment Item-->
                                </li>
                            }




                        </ul>
                        <div class="text-center">
                            <a class="btn btn-lg btn-outline-light" href="#">Load More</a>
                        </div>
                    </div>
                    <!-- End Comments-->
                    <!-- Comment Form-->
                    <div class="rn-comment-form">
                        <h2 class="rn-simple-title">Leave a comment</h2>
                        <form action="https://demo.kitthemes.com/html/rentnow/post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-4">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-lg-4">
                                    <input type="url" placeholder="Website">
                                </div>
                            </div>
                            <textarea cols="30" rows="10" placeholder="Write your comment"></textarea>
                            <div class="text-right">
                                <input class="btn btn-main btn-lg btn-shadow" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                    <!-- End Comment Form-->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Comments & Comment Form-->