@model FinalProject.Models.Team

@{
    ViewData["Title"] = "Delete";
}
    <div class="pl-4">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Team</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Photo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Photo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Position)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Position)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FacebookLink)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FacebookLink)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TwitterLink)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TwitterLink)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InstagramLink)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InstagramLink)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LinkedInLink)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LinkedInLink)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        </div>
