@model AboutUsViewModel
<!-- Page Title-->
<div class="rn-page-title">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>About Us</h1>
                    <p>Cras eros lorem, rhoncus ac risus sit amet, fringilla ultrices purus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Our Vission-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Our Vission</h2>
                    <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                    <span class="rn-title-bg">Our Vission</span>
                </div>

            </div>
        </div>
        <div class="row mb-30">
            @foreach (var item in Model.Visions)
            {
                <div class="col-lg-3 col-sm-6">

                    <!-- Feature with dot-->
                    <div class="rn-dot-feature">
                        <div class="rn-the-dot"></div>
                        <div class="rn-dot-feature-info">
                            <h3>@item.Title</h3>
                            <p>@item.Text</p>
                        </div>
                    </div>
                    <!-- End Feature with dot-->

                </div>
            }


        </div>
    </div>
</section>
<!-- End Our Vission-->
<!-- About Us with Image-->
<section class="rn-section rn-about-image-text">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <img class="img-fluid" src="~/images/@Model.Passion.Photo" alt="@Model.Passion.Title">
            </div>
            <div class="col-md-7 mb-30">
                <h2 class="rn-image-section-title">
                    <span>@Model.Passion.SubTitle</span> @Model.Passion.Title
                </h2>
                <p>@Model.Passion.Text</p>
            </div>

        </div>
    </div>
</section>
<!-- End About Us with Image-->
<!-- Our Team-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Our Team</h2>
                    <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                    <span class="rn-title-bg">Our Team</span>
                </div>

            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Teams)
            {
                <div class="col-md-4">

                    <!-- Team Member-->
                    <div class="rn-team-member">
                        <div class="rn-team-member-img">
                            <div class="rn-overlayer"></div>
                            <img class="img-fluid" src="~/images/@item.Photo" alt="@item.Name" />
                        </div>
                        <div class="rn-team-member-info">
                            <div class="rn-team-member-name">@item.Name</div>
                            <div class="rn-team-member-designation">@item.Position</div>
                            <ul class="rn-team-member-social">
                                <li>
                                    <a href="@item.FacebookLink">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.TwitterLink">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.InstagramLink">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.LinkedInLink">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Team Member-->



                </div>
            }

        </div>
    </div>
</section>
<!-- End Our Team-->
<!-- Fun Fact-->
<div class="rn-section rn-about-counter">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">

                <!-- CountUp Item-->
                <div class="rn-counter-item">
                    <div class="rn-counter-number-container">
                        <span class="rn-counter-number">350</span>
                        <span class="rn-counter-postfix">+</span>
                    </div>
                    <div class="rn-counter-text">Cars For Rent</div>
                </div>

            </div>
            <div class="col-lg-3 col-6">

                <!-- CountUp Item-->
                <div class="rn-counter-item">
                    <div class="rn-counter-number-container">
                        <span class="rn-counter-number">6500</span>
                        <span class="rn-counter-postfix">+</span>
                    </div>
                    <div class="rn-counter-text">Happy Clients</div>
                </div>

            </div>
            <div class="col-lg-3 col-6">

                <!-- CountUp Item-->
                <div class="rn-counter-item">
                    <div class="rn-counter-number-container">
                        <span class="rn-counter-number">5000</span>
                        <span class="rn-counter-postfix">+</span>
                    </div>
                    <div class="rn-counter-text">Positive Reviws</div>
                </div>

            </div>
            <div class="col-lg-3 col-6">

                <!-- CountUp Item-->
                <div class="rn-counter-item">
                    <div class="rn-counter-number-container">
                        <span class="rn-counter-number">600+</span>
                        <span class="rn-counter-postfix">+</span>
                    </div>
                    <div class="rn-counter-text">Drivers</div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Fun Fact-->
<!-- Our Partners-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">Our Partners</h2>
                    <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                    <span class="rn-title-bg">Our Partners</span>
                </div>

            </div>
        </div>
        <div class="row rn-partner-logos">
            @foreach (var item in Model.Partners)
            {
                <div class="col-md-3 col-6">
                    <div class="rn-partner-logo">
                        <img class="img-fluid" src="~/images/@item.Photo" alt="@item.Name" >
                    </div>
                </div>
            }

            
        </div>
    </div>
</section>
<!-- End Our Partners-->
