@model Order
@{
    ViewData["Title"] = "Checkout";
}
<!-- Page Title-->
<div class="rn-page-title">
    <div class="rn-pt-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-page-title-inner">
                    <h1>Checkout</h1>
                    <p>Cras eros lorem, rhoncus ac risus sit amet, fringilla ultrices purus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title-->
<!-- Page Content-->
<section class="rn-section">
    <div class="container mb-10">
        <div class="row">

            <div class="col-lg-6">


                <!-- Checkout Form-->
                <div class="rn-checkout-items">
                    @foreach (var item in Model.OrderItems)
                    {
                        <!-- Checkout Item-->
                        <div class="rn-checkout-item">
                            <div class="rn-checkout-item-thumb">
                                <img class="img-fluid" src="~/images/@item.Car.Photo" alt="@item.Car.Model.Name" />
                            </div>
                            <div class="rn-checkout-item-info">
                                <div class="rn-checkout-item-title-price">
                                    <h2>
                                        <a href="car-single.html">@item.Car.Model.Name</a>
                                    </h2>
                                </div>
                                <div class="rn-locations">
                                    <div class="rn-pickup-location">
                                        <div class="rn-location">@item.Order.PickupLocation</div>
                                        <div class="rn-date-n-time">@item.Order.PickupDate.ToString("MM/dd/yyyy")</div>
                                    </div>
                                    <div class="rn-drop-location">
                                        <div class="rn-location">@item.Order.DropLocation</div>
                                        <div class="rn-date-n-time">@item.Order.DropDate.ToString("MM/dd/yyyy")</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="rn-checkout-total-container">
                                <div class="rn-cart-total">Total: $@item.Order.Total.ToString("#.")</div>
                            </div>
                        </div>
                        <!-- End Checkout Item-->
                    }
                        
                    <div class="rn-checkout-total">
                        <strong>Total:</strong>
                        <span>$1300.00</span>
                    </div>

                    <!-- Payment Methods-->
                    
                    <div class="text-right">
                        <a class="btn btn-main btn-lg btn-shadow" asp-action="Delete" asp-controller="Orders" asp-route-id ="@Model.Id">Delete Order</a>
                    </div>
                </div>
                <!-- End Checkout Form-->

            </div>
        </div>
    </div>
</section>
<!-- End Page Content-->
